body, html {margin: 0px; padding: 0px; color: #fff; font-size: 11pt; font-family: 'Roboto', sans-serif; display: block; background: #181818; width: 1260px;}
a {color: #fff;}
div {display: block;}
h1 {font-weight: 400; font-size: 30pt; margin: 0px auto; position: relative; text-align: center; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
h2 {font-weight: 400; font-size: 15pt; margin: 0px auto; position: relative; text-align: center;}
#count-block {width:49%; height:400px; margin: 0px auto; margin-top: 20px; background:#0f0f0f; overflow: hidden; position: relative;}
#count-block2 {width:49%; height:400px; margin: 0px auto; margin-top: 20px; background:#0f0f0f; overflow: hidden; position: relative; left: 51%; top: -420px;}
.logo {width: 150px; position: relative; margin: 0px auto; margin-top: 10px; left: 38%; -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.2); -moz-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.3); box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.3); border-radius: 50%;}
#gap-block{width:35%; height:150px; margin: 0px auto; margin-top: 20px; margin-bottom: 20px; background:#0f0f0f; overflow: hidden; position: relative; top: -420px; left: 25.5%;}
#credit {width:1260px; height:40px; margin: 0px auto; margin-top: 20px; margin-bottom: 20px; background:#0f0f0f; overflow: hidden; position: relative;}
#container {width: 1260px;margin: 20px auto;}
#name {position: absolute;color: #fff;top:8px;left:10px; width: 550px;}
#name a {display: block;float: left;height: 60px;padding: 0px 15px;color: #fff;text-decoration: none; width:100% }
.head-box {width: 560px;height: 60px;background:#0f0f0f;padding: 5px 20px;color: #fff;font-size: 30pt;font-weight: 500;text-align: left;position: relative; margin-bottom: 20px;}
.head-box:hover {background: #000;}
/* ScrollBar */

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 20px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ff0000;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ff0000;
  }
  
  @media screen and (max-width: 992px) {
    ::-webkit-scrollbar {
      display: none;
    }
  }
