body, html {margin: 0px; padding: 0px; color: #fff; font-size: 11pt; font-family: 'Roboto', sans-serif; display: block; background: #181818;}
a {color: #fff;}
div {display: block;}
h1 {font-weight: 400; font-size: 40pt; margin: 0px auto; position: relative; text-align: center;}
h2 {font-weight: 400; font-size: 20pt; margin: 0px auto; position: relative; text-align: center;}
#count-block {width:1260px; height:570px; margin: 0px auto; margin-top: 20px; background:#0f0f0f; overflow: hidden; position: relative;}
#logo {width: 200px; position: relative; margin: 0px auto; margin-top: 10px; left: 42%; -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.2); -moz-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.3); box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.3); border-radius: 50%;}
#mini-counts {width:1260px; margin: 0px auto; margin-top: 20px;}
#like-box {width: 620px; height: 120px; position: relative; float: left; margin: 0px auto; margin-right: 20px; margin-bottom: 20px; background: #0f0f0f; overflow: hidden;}
#comment-box {width: 620px; height: 120px; position: relative; float: left; margin: 0px auto; margin-bottom: 20px; background: #0f0f0f; overflow: hidden;}
#graph-block {width:1260px; height:400px; margin: 0px auto; margin-top: 20px; margin-bottom: 20px; background:#0f0f0f; overflow: hidden; position: relative;}
#credit {width:1260px; height:40px; margin: 0px auto; margin-top: 20px; margin-bottom: 20px; background:#0f0f0f; overflow: hidden; position: relative;}
#user-menu {width: 1260px;margin: 0px auto;background: #0f0f0f;line-height: 50px;height: 50px;color: #fff;margin-bottom: 20px;}
#user-menu a {display: block;float: left;height: 50px;padding: 0px 15px;color: #fff;text-decoration: none; }
#user-menu a:hover {background: #000;}
#container {width: 1260px;margin: 20px auto;}
#panel-left {float: left;width: 600px;}
#panel-right {float: right;width: 600px;}
#name {position: absolute;color: #fff;top:8px;left:10px; width: 550px;}
#name a {display: block;float: left;height: 60px;padding: 0px 15px;color: #fff;text-decoration: none; width:100% }
.head-box {width: 560px;height: 60px;background:#0f0f0f;padding: 5px 20px;color: #fff;font-size: 30pt;font-weight: 500;text-align: left;position: relative; margin-bottom: 20px;}
.head-box:hover {background: #000;}
/* ScrollBar */

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 20px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ff0000;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ff0000;
  }
  
  @media screen and (max-width: 992px) {
    ::-webkit-scrollbar {
      display: none;
    }
  }
